@import '../../styles/mixins';

.container {
  @include flex($justify: space-between, $direction: column);

  h1 {
    font-family: Inter;
    font-size: 70px;
    font-weight: 400;
  }
  img {
    width: 200px;
  }
}
