@import '../../styles/variables';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
.flex {
  display: flex;
  flex-direction: column;
  color: $black;
  h3 {
    font-feature-settings: 'ss01' on;
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 400;
  }
  h2 {
    font-family: Inter;
    font-size: 70px;
    font-weight: 400;
  }
}
