@import '../../styles/variables';
@import '../../styles/mixins';
.weatherCharacteristics {
  @include flex($justify: flex-end, $direction: column, $gap: 10px);
  width: 120px;
  gap: 10px;
  color: $dark-gray;
  font-size: 18px;
}
