@import '../../styles/variables';
.pStyleForHeadings {
  display: flex;
  flex-direction: column;
  width: 120px;
  gap: 10px;
  justify-content: flex-end;
  color: $dark-gray;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
