@import '../../styles/mixins';

.mainTable {
  @include border;
  @include light-linear-gradient;
  box-sizing: border-box;
  width: 100%;
  padding: 30px;
  h2 {
    font-size: 24px;
    font-weight: 400;
  }

  &__info {
    @include flex($justify: space-between);
  }
}
