@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import '../../styles/variables';
.dayWeather {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  border-radius: 30px;
  border: 1px solid $light-gray;
  @include search-linear-gradient;
  color: $black;
  font-family: Open Sans;

  h2 {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
  }
  h3 {
    font-size: 16px;
    font-weight: 400;
  }
  img {
    width: 75px;
  }

  p {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
  }
  .maxTemp {
    color: $black;
  }
  .minTemp {
    color: $dirty-gray;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
  }

  &__date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    height: 100%;
  }
}
